#carousel img {
   display: block;
   object-fit: cover; /* or object-fit: contain; */
}

#img-modal{
   height:450px !important;
   background-size:cover !important;
  /*background-repeat: no-repeat !important;*/
   width: 100%;
   position: relative;
   object-fit: scale-down;

}

