<div class="row" style="margin-top:220px">
    <div class="col-12 text-center" style="font-size:3rem;margin-bottom:20px">Gallery Section</div>
    <div class="row col-12" style="height: 500px;">
        <div id="carousel" class="owl-carousel owl-theme" >
            <div *ngFor="let x of emptyArray; let i = index" [attr.data-index]="i" style="background: url(/../assets/frame.png); background-size: cover;">

                <img class="item" (click)='fillUrlVariable($event)' src="{{'/../assets/annalaura_images/' + (i + 1) + '.jpeg'}}" height="300px" style="margin:20px;background-size: cover;"/>

            </div>
                
        </div>
    </div>
    <!--
  
    -->
    <div class="modal fade" id="exampleModalCenter" style="height:100%;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="border-radius: 12px 12px !important;">
            <div class="header-custom modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">My Eighteen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="height:150%;" >
                <img id="img-modal" [src]=url >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>