
<div class="container-fluid p-0" >
    <!--<app-navbar [widthParent]=width></app-navbar>-->
    <app-moving-start></app-moving-start>
    <app-home [heigthParent]=height [widthParent]=width></app-home>
    <div class="custom-shape-divider-bottom-1621957101" style="z-index: 9999;">
      <svg fill="#f0f0f0" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>
    
    <div id="middleDiv">
      <app-countdown></app-countdown>
      <app-event></app-event>
      <app-carousel></app-carousel>
    </div>
    <footer class="header-custom row " style=" height:100px;">
      <p class="col-12" style="margin:0;">Ti aspetto alla mia Festa</p>
      <p class="col-12" style="font-family:open sans light,sans-serif !important;font-size:10px">Developed by <a href="https://it.linkedin.com/in/domenico-conte-b07236210" style="font-weight:700;color:rgb(29, 29, 29);font-family:open sans,sans-serif !important;font-size:10px">Domenico Conte</a></p>
      <div class="col-12 text-center" style="font-size:10px;font-family: open sans light, sans-serif !important;">Icons made by <a href="https://www.freepik.com" title="Freepik" style="font-size:10px;font-family: open sans light, sans-serif !important;"> Freepik</a> from <a  style="font-size:10px;font-family: open sans light, sans-serif !important;" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
</div>








