
<div class="row" style="margin:10px">
    <div class="offset col-12 col-xl-4 offset-xl-4 shadow" style="margin-top:80px !important;background-color: rgb(255, 255, 255);border-radius: 8px; 
        padding-bottom: 25px !important;padding-left:0px;padding-right:0px;">
                <div class="col-12 header-custom">
                    <p style="font-size:6vh;padding-top:15px !important;text-align: center; word-break: break-all;padding-bottom:15px !important; text-shadow:2px 4px 10px #0000008c !important;"> Countdown </p>
                </div>
                <div id="countdown-container" class="col-12" >
                    <div class="d-flex justify-content-center">
                        <div class='countdown d-xl-none d-lg-none d-md-block' data-date="2021-06-08" data-time="20:30" style="zoom: 1.2 !important; -moz-transform: scale(1.2) !important;"></div>
                        <div class='countdown d-xl-block d-lg-block d-none ' data-date="2021-06-08" data-time="20:30" style="zoom: 2.0 !important; -moz-transform: scale(2.0) !important;"></div>
            
                    </div>
                </div>    
    </div>
</div>




