<div class="row" style="margin:10px">
   <div id="event-div" class="offset col-12 col-xl-6 offset-xl-3 shadow" style="margin-top:80px !important;background-color: rgb(255, 255, 255);border-radius: 8px; 
    padding-bottom: 25px !important;padding-left:0px;padding-right:0px;">
            <div class="col-12 header-custom" style="margin:0 !important">
                <p style="margin:0 !important;font-size:6vh;padding-top:15px !important;text-align: center; word-break: break-all;padding-bottom:15px !important; text-shadow:2px 4px 10px #0000008c !important;"> Evento </p>
            </div>
            <div class="row">
                <div id="info-container" class="col-12 col-md-6" style="height:550px;">
                    <div class="col-12" style="height: 120px;text-align:left;padding:15px !important">
                        <p style="font-family: open sans light !important; font-size: 1rem;">La Cerminonia si terrà presso <a style="font-family: open sans light !important; font-size: 1rem;" href="https://www.curacaoeventi.it/locale-feste-pomigliano/">Curaçao Eventi</a></p>
                        <p style="font-family: open sans light !important; font-size: 1rem;">Via Pratola, 80, 80038 Pomigliano d'Arco NA</p>
                    </div>
                    <div id="map" class="map col-12"></div>
                    <div id="download-section" style="text-align:center;height:100px;">
                        <p class="col-12" style="margin-top:12px;font-size:0.9rem;text-align:center;font-family: open sans light,sans-serif !important;">Se il luogo non fosse ancora chiaro scarica l'invito in alto</p>
                        <!--<button class="btn-danger" style="width:150px;border-radius:4px;font-weight:700;padding:5px;font-family: open sans bold,sans-serif !important;">Download</button>--> 
                    </div>

                </div>  
                <div id="person-container" class="offset offset-6 col-6 col-md-6 row d-sm-none d-block"   style="position:absolute; height:140px;bottom:100px !important">
                        <div class="col-12 text-bottom-small" style="height:28%; text-align: bottom; text-shadow:2px 4px 10px #7d7d7d3d !important">La location è' qui !</div>
                        <div id="person-map"  style="width:80%;height:72%;"></div>
                </div>
                <div id="person-container" class="col-12 offset offset-md-1 col-md-5 d-md-block d-none"   style="height:550px;">
                         <div class="col-12 text-bottom" style="height:28%; text-align: bottom; text-shadow:2px 4px 10px #7d7d7d3d !important">La location è' qui !</div>
                         <div id="person-map"  style="width:80%;height:72%"></div>
                 </div>
                
            </div>
              
    </div>
</div>
