<div class="row" >

    <div [ngStyle]="{'height.px': heigthParent}" class="col-12">
            <div id="main" class="row col-12" [ngStyle]="{'height.px': heigthParent}" style="width: 100%;">
               <div id="light-one" class="row col-12 d-md-none d-block" style="background: url('./assets/Lights.svg');position: absolute; height:20%;text-shadow: 2px 2px black"></div>

               <div class="row col-12" id="text-responsive">
                       <div >
                        <div id="main-text-section" class="col-xl-7 col-12" style="height: 30%;margin-top:30%">
                            <div class="col-12 row" style="height: 100px;margin-top:200px">
                                <!--MOBILE-->  <div class="col-12  d-block d-xl-none text-center" style="font-size: 2.5rem; text-shadow:2px 4px 15px #0000004d !important">IT'S MY BIRTH<span style="color:whitesmoke">DAY</span></div> 
                            <div class="row col-12">
                                <!--DESKTOP--> <div class="col-12 d-none d-xl-block text-center" style="font-size: 4.5rem; text-shadow:2px 4px 15px #0000004d !important">IT'S MY BIRTH<span style="color:whitesmoke">DAY</span></div> 
                            </div>
                
                                <!--MOBILE-->  <div class="col-12  d-block d-xl-none text-center" style="font-size: 1.6em; text-shadow:2px 4px 15px #0000004d !important">My Eighteen <img src="./assets/heart_star.svg"/></div> 
                            <div class="row col-12">
                                <!--DESKTOP--> <div class="col-12 d-none d-xl-block text-center" style="font-size: 2.0em; text-shadow:2px 4px 15px #0000004d !important">My Eighteen <img src="./assets/heart_star.svg"/></div> 
                            </div>
                    
                                    <!--MOBILE-->    <div class="col-12  d-block d-xl-none">
                                                            <hr class="col-8" style="border:none;height:1px;background-color:#161616">
                                                            <div class="col-12 text-center" style="height:0px; text-shadow:2px 4px 22px #0000004d !important">Annalaura Esposito <a href='./assets/invito.jpg' class="myButton" style="margin-left:15px !important;padding: 6px !important;font-size:0.8rem; font-family:open sans, sans serif !important" download>Scarica L'invito</a></div>
                                                        </div>
                                    
                                    <!--DESKTOP-->   <div class="row col-xl-10 offset offset-1 d-none d-xl-block">
                                                            <hr class="col-12" style="border:none;height:1px;background-color:#161616;font-size:1rem">
                                                            <div class="col-12 offset offset-2" style="font-size: 1.4em;height:0px; text-shadow:2px 4px 22px #0000004d !important">Annalaura Esposito <a href='./assets/invito.jpg' class="myButton" style="margin-left:15px !important;padding: 9px !important;font-size:1rem; font-family:open sans, sans serif !important" download>Scarica L'invito</a></div>
                                                        </div>
                                                        
                                                    </div>
                                </div>
                

                       </div>
             
                    <div id="birthday-cake" class="row col-xl-4 col-8 " style=" background:url('./assets/birthday_cake.svg');height: 85%;">
             </div>

               </div>
               


              

            </div>    
    </div>
    
</div>

